<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h3 class="card-title mb-0 flex-grow-1">
          {{ "quotelist" | translate }}
          <i class="mdi mdi-reload ml-3" (click)="getquoteList(1)"></i>
        </h3>
        <div class="flex-shrink-0">
          <div class="form-check form-switch form-switch-right form-switch-md">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              #mysearch
              (keyup)="searchData(mysearch.value)"
            />
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="live-preview">
          <table class="table table-bordered table-nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ "quotes.qno" | translate }}</th>
                <th>{{ "quotes.customer" | translate }}</th>
                <th>{{ "quotes.custemail" | translate }}</th>
                <th>{{ "quotes.custphone" | translate }}</th>
                <th>{{ "quotes.servicetype" | translate }}</th>
                <th>{{ "quotes.cat" | translate }}</th>
                <th>{{ "quotes.amount" | translate }}</th>
                <th>{{ "quotes.manual" | translate }}</th>
                <th>{{ "quotes.paystatus" | translate }}</th>
                <th>{{ "quotes.upload" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rl of unDetailsList; let i = index">
                <td>{{ rl.rank }}</td>
                <td>{{ rl.quote_number }}</td>
                <td>{{ rl.fname }} {{ rl.lname }}</td>
                <td>{{ rl.email }}</td>
                <td>{{ rl.contact_no }}</td>
                <td>{{ rl.service_type }}</td>
                <td>{{ rl.categorycode }}</td>
                <td>SAR {{ rl.amount }}</td>
                <td>
                  <span class="badge bg-info" *ngIf="rl.isrestricted == 1">
                    {{ "quotes.manualQ" | translate }}
                  </span>
                  <span class="badge bg-primary" *ngIf="rl.isrestricted == 0">
                    {{ "quotes.automated" | translate }}
                  </span>
                </td>
                <td>
                  <span class="badge bg-danger" *ngIf="rl.ispaid == 0">
                    {{ "quotes.unpaid" | translate }}
                  </span>
                  <span class="badge bg-success" *ngIf="rl.ispaid == 1">
                    {{ "quotes.paid" | translate }}
                  </span>
                </td>
                <td>
                  <div class="image-upload">
                    <i
                      class="mdi mdi-cloud-upload mdi-24px"
                      title="upload"
                      (click)="openFile(modalCenter, rl.quote_number)"
                    ></i>
                    <!-- &nbsp;&nbsp;
                      <a
                        href="{{ rl.valuation_url }}"
                        *ngIf="rl.valuation_url"
                        target="_blank"
                        title="download"
                      >
                        <i class="mdi mdi-cloud-download ml-3 mdi-24px"> </i
                      ></a> -->

                    <!-- <input
                      id="file-input_{{ rl.id }}"
                      type="file"
                      (change)="onFileSelection($event, rl.quote_number)"
                    /> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <app-z-pagination
            class="pagination pgntion-main-sec"
            *ngIf="unDetailsList!.length > 0"
            [totalRecords]="totalRecords"
            [recordsPerPage]="itemPerPage"
            (onPageChange)="DisplayActivePage($event)"
          >
          </app-z-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="isloading"></app-loader>
<ng-template #modalCenter let-modal> 
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modalCenterTitle">#{{ currentQuote }}</h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="modal.dismiss('Close')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <input
            type="file"
            class="form-control"
            (change)="onFileSelectionM($event)"
          />
        </div>
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-primary"
            (click)="uploadTOQuote()"
          >
            Upload It
          </button>
        </div>
      </div>
      <div class="row mt-3">
    
        <div class="col-md-6">
          <table
            class="table table-bordered table-centered align-middle table-nowrap mb-0 text-center"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Download</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let al of currentQuoteDocList; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <a href="{{ al.fileurl }}" target="_blank">
                    <i class="mdi mdi-download mdi-24px"></i
                  ></a>
                </td>
                <td>
                  <i class="mdi mdi-eye mdi-24px" (click)="viewPDF(al.fileurl)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</ng-template>
