<section class="insurance-top">
  <div class="insurance-top__inner">
    <div class="insurance-top__heading">
      <h1 class="insurance-top__heading-title">
        {{ "eval" | translate }} <br />
        {{ "qt" | translate }}!
      </h1>
      <h2 class="top-screen__subtitle_car">Join Millions of People Saving:</h2>
      <h2 class="top-screen__subtitle_car_mobile">
        {{ "join" | translate }}
      </h2>
    </div>
    <div class="insurance-top__form">
        <span>Processing...</span>
    </div>
  </div>
</section>
