.what-we-do {
  padding-top: 50px !important;
}
.is-invalid {
  border-color: #f06548 !important;
}

.invalid-feedback {
  color: #f06548 !important;
  display: block;
}
.dis {
  background-color: #97929248;
  cursor: not-allowed;
}
