<section class="insurance-top">
  <div class="insurance-top__inner">
    <div class="insurance-top__heading">
      <h1 class="insurance-top__heading-title">
        {{ "quotelist" | translate }}
      </h1>
    </div>
    <div class="insurance-top__form mt-3">
      <div class="row col-md-12">
        <table class="table table-bordered table-nowrap">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ "quotes.qno" | translate }}</th>
              <th>{{ "quotes.servicetype" | translate }}</th>
              <th>{{ "quotes.cat" | translate }}</th>
              <th>{{ "quotes.amount" | translate }}</th>
              <th>{{ "quotes.download" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rl of quoteList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ rl.quote_number }}</td>
              <td>{{ rl.service_type }}</td>
              <td>{{ rl.categorycode }}</td>
              <td>SAR {{ rl.amount }}</td>
              <td>
                <i
                  class="fas fa-download"
                  (click)="openFile(modalCenter, rl.quote_number)"
                ></i>
                <!-- <a
                  href="{{ rl.valuation_url }}"
                  *ngIf="rl.valuation_url"
                  target="_blank"
                  title="download"
                >
                  <i class="fas fa-download"> </i
                ></a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<app-loader *ngIf="isloading"></app-loader>
<ng-template #modalCenter let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modalCenterTitle">#{{ currentQuote }}</h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="modal.dismiss('Close')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row mt-3">
        <div class="col-md-6">
          <table
            class="table table-bordered table-centered align-middle table-nowrap mb-0 text-center"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Download</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let al of currentQuoteDocList; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <a href="{{ al.fileurl }}" target="_blank">
                   <i class="fas fa-download"></i>
                  </a>
                </td>
                <td>
                  <i
                    class="fas fa-eye"
                    (click)="viewPDF(al.fileurl)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</ng-template>
